html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #4B4B4B;
}
#main-container {
  border: 1px solid #ADADB0;
}
#main-container, nav{
  max-width: 960px;
  margin: 0 auto;
}
#banner, #events, #exhibits {
  padding: 2rem 0 2rem 1.5rem;
}

.flex-container  {
  display: flex;

}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p {
 font-size: 0.8rem;
   line-height: 1.25rem;
 }

.section-title {
  margin-bottom: 2rem;
  text-align: center;
}

.media {
  width: 60%;
  padding-right: 0.5rem;
}

.media img {
  width: 100%;
  height: auto;
}

.card-media-mobile, .mobile-navigation, .classes-mobile {
  display: none;
}

#main-container section:nth-child(odd){
  background-color: #EAEAEB;
}
/* ----- Header Styles ----- */
header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 4rem;
  margin: 0 auto;
}

nav{
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  padding-right: 1.5rem;
}

.desktop-navigation li {
  margin-left: 1rem;
}

.logo {
  align-items: center;
}
.logo img {
  height: 2rem;
  padding-left: 1.5rem
}

#colmar {
  font-weight: 700;
}

#academy {
  font-weight: 300;
}

nav li:hover {
  font-weight: 700;
}
/* ----- Banner Section ----- */
#banner {
  padding-top: 6rem;
}

#banner .content {
  max-width:30%;
  padding-left: 1.5rem;
  padding-right: 4rem;
  flex-direction: column;
  justify-content: center;
}

#banner h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#banner .button {
  text-align: center;
  background-color: #4b4b4b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}

#banner .button:hover {
  background-color: black;
}
/* -----Announcements Section ----- */
#events h2 {
  padding-top: 2rem;
}
#events .quote {
  padding: 1.5rem 0;

}
#events .quotee {
  font-size: 0.75rem;
}

#events .media {
  flex-direction: column;
}

#events a {
  font-size: 0.8rem;
  color: #7892E0;
}

.cards {
  flex-direction: column;
  max-width: 40%;
}

.card-media  {
  max-width: 35%;
  margin: 1rem;
}

.card-media img {
  width: 100%
}

.card {
  align-items: center;
}

.card p {
  padding: 0.5rem 0;
}

.cards .card:nth-child(3){
  background-color: #DADADA;
}

  /* -----Classes Section ----- */
#learning {
  padding: 2rem 3.5rem;
}

#classes {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.class {
  flex-direction: column;
  padding: 1rem;
  max-width: 29.3%;
  align-items: stretch;
}

.class img {
  max-width: 100%;
  height: auto;
}

.course-details {
  background-color: white;
  padding: 1rem;
  height: 100%;
}
.course-details p {
  color: #ACACAC;
  margin-top: 0.5rem;
}
