html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #4B4B4B;
}
#main-container {
  border: 1px solid #ADADB0;

}
#main-container, nav{
  max-width: 960px;
  margin: 0 auto;
}

.flex-container  {
  display: flex;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3, .courses-mobile li{
  font-size: 1.25rem;
  font-weight: 700;
}

p {
  font-size: 0.8rem;
   line-height: 1.25rem;
 }

.section-title {
  margin-bottom: 2rem;
  text-align: center;
}

.media {
  padding-right: 1.5rem;
  flex-basis: 60%;
}

.media img {
  width: 100%;
  height: auto;
}

/* ----- Media Query for full sized screen ----- */
@media only screen and (min-width: 600px){
  .card-media-mobile, .mobile-navigation, .courses-mobile {
  display: none;
  }

  #banner, #announcements, #exhibits {
   padding: 2rem 0 2rem 1.5rem;
  }

  #banner {
    padding-top: 6rem; /* To get the banner out from under the nav ---- */
  }

  #banner .content {
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
    margin-right: 4rem; /* So the button and text  has the correct spacing as per the spec */
  }

  .cards {
    flex-basis: 40%;
  }

  .card {
    align-items: center;
  }

  #main-container section:nth-child(odd){
    background-color: #DADADA;
  }

  .card-content{
    flex-basis: 65%;
  }

  #announcements .cards .card:nth-child(3){
    background-color: #DADADA;
  }

  #learning {
    padding: 2rem 3.5rem;
  }
}
/* ----- Media Query for small screen below 600 pixels ----- */
@media only screen and (max-width: 599px){

   .desktop-navigation, #courses, #colmar, #academy, .logo,
   #announcements .media, .card-media, #exhibits .cards, #exhibits-container h3,
   #exhibits-container p, .footer-desktop{
  display: none;
  }

  #banner {
    flex-direction: column;
    padding: 0;
    background-color: #DADADA;
  }

  #banner .content {
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom:  2rem;
  }

  .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .media {
    flex-basis: 100%;
    padding: 4rem 0 2rem 0;
  }

  #announcements{
    margin: 1rem;
  }

  .cards {
    flex-basis: 100%;
  }

  .card-media-mobile  {
    flex-basis: 100%;
  }

  .card-media-mobile img {
    max-width:100%;
    height: auto;
  }

  .card-content{
    width: 100%;
    margin: 2rem 1rem;
  }

  #learning {
    padding: 2rem 1rem;
  }

  #exhibits .media {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }
}

/* ----- Header Styles ----- */
header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 4rem;
  margin: 0 auto;
}

nav{
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  padding-right: 1.5rem;
}

nav li {
  margin-left: 1rem;
}
.mobile-navigation{
  width: 100%;
  justify-content: space-between;
}

.logo {
  align-items: center;
}
.logo img {
  height: 2rem;
  padding-left: 1.5rem
}

#colmar {
  font-weight: 700;
}

#academy {
  font-weight: 300;
}

nav li:hover {
  font-weight: 700;
}

nav li {
  transition: all 250ms linear;
}

/* ----- Banner Section ----- */
#banner h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#banner .button {
  text-align: center;
  background-color: #4b4b4b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}

#banner .button:hover {
  background-color: black;
}

#banner .button {
  transition: all 250ms ease-in;
}
/* -----Announcements Section ----- */
#announcements h2 {
  padding-top: 2rem;
}
#announcements .quote {
  padding: 1.5rem 0;

}
#announcements .quotee {
  font-size: 0.75rem;
}

#announcements .media {
  flex-direction: column;
}

#announcements a {
  font-size: 0.8rem;
  color: #7892E0;
}

.cards {
  flex-direction: column;
}

.card-media  {
  flex-basis: 35%;
  padding: 1rem;
}

.card-media img {
  width: 100%;
  height: 100%;
}

.card p {
  padding: 0.5rem 0;
}

#announcements a:hover {
    font-weight: 700;
}

  /* -----Courses Section ----- */
#courses {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.course {
  flex-direction: column;
  padding: 1rem;
  min-width: 29%;
  align-items: stretch;
  flex: 1;
}

.course img {
  max-width: 100%;
  height: auto;
}

.course-details {
  background-color: white;
  padding: 1rem;
  height: 100%;
}

.course-details p {
  color: #ACACAC;
  margin-top: 0.5rem;
}

#courses .course-details:hover  {
  background-color: black;
  color: white;
  cursor: pointer;
}

#courses .course-details {
  transition: all 250ms ease-in;
}

.courses-mobile li {
  background-color: #DADADA;
  padding: 1rem 1rem 1.5rem 1rem; /* per spec */
  margin-bottom: 0.5rem;
  transition: all 250ms ease-in;
}

.courses-mobile li:hover {
  background-color: black;
  color: white;
}

/* -----Exhibits Section ----- */
#exhibits-container .cards .card:first-child {
  background-color: #DADADA;
}

/* ----- Footer Section ----- */
footer{
  font-size: smaller;
  justify-content: space-between;
  margin: 1rem 1.5rem;
}

footer li {
  margin-right: 1rem;
}

footer li:hover {
  font-weight: 700;
